@model luxuryShop.Models.Enity.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

<tr>
    <td>@Model.Name</td>
    <td>@Model.Price</td>
    <td>@Model.Img</td>
</tr>
