@{ ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";}
@*<link href="~/Content/CSS/Dashboard.css" rel="stylesheet" />*@
<style>
    .tm-bg-primary-dark {
        margin: 65px;
    }

    #radio4 {
        margin-left: 90px;
    }

    #radio0, #radio1, #radio2 {
        margin-left: 20px;
    }
</style>
<script src="~/Content/ckfinder/ckfinder.js"></script>
<section>
    <div class="container">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
                <div class="col-12" style="text-align:center;">
                    <h2 class="tm-block-title d-inline-block">Thêm Sản Phẩm</h2>
                </div>
            </div>
            <div class="row tm-edit-product-row">
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <form id="danhsachsanpham-form" class="tm-edit-product-form">
                        <div class="form-group mb-3">
                            <label for="name">
                                Tên Sản phẩm
                            </label>
                            <input id="name" name="Name" type="text" class="form-control validate" required="">
                        </div>
                        <div class="form-group mb-3">
                            <label for="price">
                                Thương hiệu
                            </label>
                            <input id="brand" name="Brand" type="text" class="form-control validate" required="">
                        </div>
                        <div class="form-group mb-3">
                            <label for="price">
                                Giá tiền
                            </label>
                            <input id="price" name="Price" type="text" class="form-control validate" required="">
                        </div>
                        <div class="form-group mb-3">
                            <label for="description">Ưu đãi</label>
                            <textarea id="sale" name="Sale" class="form-control validate" rows="3" required=""></textarea>
                        </div>
                        <div class="form-group mb-3">
                            <label for="description">Mô tả</label>
                            <textarea id="description" name="Description" class="form-control validate" rows="3" required=""></textarea>
                        </div>
                        <div class="form-group mb-3">
                            <label for="Images">Hình ảnh</label>
                            <input id="txtImage" name="Img" type="text" class="form-control validate" required="">
                        </div>
                        <div class="form-group-file mt-3 mb-3">
                            <input type="button" class="btn btn-dark btn-block mx-auto" value="UPLOAD PRODUCT IMAGE" id="btnSelectImage">
                        </div>
                        <div class="form-group mb-3">
                            <label for="category">Thể loại:</label>
                            <input type="radio" id="radio0" value="0" name="Category" checked>
                            <span>Điện thoại </span>
                            <input type="radio" id="radio1" value="1" name="Category">
                            <span>Tai nghe</span>
                            <input type="radio" id="radio2" value="2" name="Category">
                            <span>Đồng hồ</span>
                        </div>
                        <div class="form-check mb-3">
                            <label for="Check"></label>
                            <input type="radio" id="radio3" value="" name="BestSeller" checked>
                            <span>Không BestSeller</span>
                            <input type="radio" id="radio4" value="1" name="BestSeller">
                            <span>Có BestSeller</span>
                        </div>
                    </form>
                </div>
                <div class="col-12">
                    <button class="btn btn-dark btn-block text-uppercase" onclick="Add();">Add Product Now</button>
                </div>
            </div>
        </div>
        <div id="table-engine" class="card-body table-responsive p-0">
            @{Html.RenderAction("Pagging", "DashBoard");}
        </div>
    </div>
</section>

<script src="~/Content/sweetalert2/sweetalert2.all.js"></script>

<script>
    $(document).ready(function () {
        $("#btnSelectImage").on('click', function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })
        $("#btnSelectImage2").on('click', function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage2').val(url);
            };
            finder.popup();
        })
    })

    function Refresh(destination, pageIndex) {
        $.ajax({
            url: '/Admin/DashBoard/Pagging',
            type: 'GET',
            dataType: 'html',
            data: { pageIndex: pageIndex },
        })
            .done(function (res) {
                $(destination).html(res);
            })
            .fail(function () {

            })
            .always(function () {

            });
    }

    function Add() {
        let data = $('#danhsachsanpham-form').serialize();
        console.log(data);
        $.ajax({
            url: '/Admin/DashBoard/Add',
            type: 'POST',
            dataType: 'json',
            data: data,
        })
            .done(function (res) {
                if (res.StatusCode == 200) {
                    toastr.success('Thêm mới thành công!', 'Success !!!');
                    Refresh('#table-engine');
                }
                else {
                    toastr.error(res.Message, 'Error !!!');
                }
            })
            .fail(function () {
                console.log("error");
            })
            .always(function () {
                console.log("complete");
            });
    }
        function Delete(ID) {
        Swal.fire({
            title: 'Bạn có chắc chắn xóa không?',
            text: "Bạn sẽ không thể khôi phục lại được!",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Xóa!!!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete")',
                    data: { ID: ID },
                    dataType: "json",
                    success: function () {
                        Refresh('#table-engine');
                        //setTimeout(function () {
                        //    location.href("/Admin/danhsachsanpham/Index").reload();
                        //}, 1000);
                    },
                    error: function () {
                        alert("Error while deleting data");
                    }
                });
            }
        })
    }
</script>


